<p id="notice"><%= notice %></p>
<h1 class="text-center">List of Articles</h1>
<div class="d-flex justify-content-center my-3">
  <%= link_to 'New Article', new_article_path, class: 'btn btn-dark text-white' %>
</div>


<%# Will_Pagination & Style %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="flickr_pagination mb-4">
  <%= will_paginate @articles, :container => false %>
</div>